<header role="banner">All Active Running
  <a id="refresh_button" href=""><button>Refresh</button></a>
</header>
  <%= erb :menu %>

<table class="all-active">
  <thead>
    <tr>
      <th>Application Name</th>
      <th>Start Time</th>
      <th>State</th>
      <th>Query</th>
    </tr>
  </thead>
  <tbody>
    <% all_active_rows.each do |row| %>
        <tr>
          <td><%= row[:application_name] %></td>
          <td><%= row[:query_start] %></td>
          <td><%= row[:state] %></td>
          <td><%= sql(row[:query]) %></td>
        </tr>
    <% end %>
  </tbody>
</table>


<script type="text/javascript">
    $("document").ready(function() {
      $(document).pjax("#refreshButton", "#pjax-container");
    });

    <!-- End of JQuery Code -->

</script>