<div class = "parent">
    <div class="menu_item"><a href="<%= PGPerformance.root_url %>">Mean Time</a></div>
    <div class="menu_item"><a href="<%= PGPerformance.root_url %>total-time">Total Time</a></div>
    <div class="menu_item"><a href="<%= PGPerformance.root_url %>most-frequent">Most Frequent</a></div>
    <div class="menu_item"><a href="<%= PGPerformance.root_url %>long-running">Long Running</a></div>
    <div class="menu_item"><a href="<%= PGPerformance.root_url %>all-active">All Active</a></div>
</div>
