<header role="banner">Most Frequent Queries</header>
  <%= erb :menu %>
<table class="most-frequent">
  <thead>
  <tr>
    <th>Calls</th>
    <th>Total (s)</th>
    <th>Mean (ms)</th>
    <th>SD (ms)</th>
    <th>Query</th>
  </tr>
  </thead>
  <% most_frequent_rows.each do |row| %>
      <tr>
        <td><%= row[:calls].to_i %></td>
        <td><%= (row[:total_time].to_f / 1000).to_i %></td>
        <td><%= (row[:mean_time].to_f).round(2) %></td>
        <td><%= (row[:stddev_time].to_f).round(2) %></td>
        <td><%= sql(row[:query]) %></td>
      </tr>
  <% end %>
</table>
